.scene {
  aspect-ratio: 1 / 1;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.4s ease-out;

  &:hover .card:not(.is-flipped) {
    transform: rotateY(20deg);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.5s, opacity 0.5s; /* Додано opacity для плавного затемнення */
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

  &.is-flipped {
    transform: rotateY(180deg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.1);

  &--front {
    transform: rotateY(180deg);
    background-color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--back {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%),
    repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.05) 10px, rgba(255, 255, 255, 0.05) 20px);
    background-blend-mode: overlay;
  }
}

:host-context(.matched) .scene {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
}

:host-context(.matched) .card {
  box-shadow: none;
  filter: none;
  transform: rotateY(0deg) !important;
}
